$white: #FFF;
$grey: #AAA;
$white-grey: #C4C4C4;
$grey: #222222;
$dark-grey:#121212;
$purple:#7D68FF;
$red: #FF4848;
$green: #48FF7B;
$orange : #FFA030;
$container-width: 1700px;

$numbers-dashboard:48px;
$fontsize1:48px;
$fontsize2:36px;
$fontsize3:30px;
$fontsize4:24px;
$fontsize5:13px;
$fontsize6:18px;