.table {
	background-color: black;
	border-radius: 30px;
	color: white;
	margin: 50px auto;
	font-family: $font4;
	font-weight: 700;
	max-width: $container-width;


	.fa-exchange {
		transform: rotate(90deg);
	}

	.button .fa-solid {
		color: $purple;
		font-size: 18px;
	}

	.table-head {
		p {
			font-size: 28px;
			margin: 20px 0px 20px 0px;
		}
	}

	.tab {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 30px 0px 30px;
		border-bottom: 1px solid white;

		&.tab--search {
			border-bottom: unset;
			margin: 20px 0px 30px 0px;

			.search {
				width: 72%;
				display: flex;
				align-items: center;
				position: relative;

				.search-icon {
					position: absolute;
					left: 28px;
					color: $purple;
					font-size: 40px;
				}

				input[type="search"] {
					width: 100%;
					height: 70px;
					border-radius: 30px;
					padding-left: 90px;
					font-size: 24px;
					font-weight: bold;
					border-color: $purple;
				}
			}
		}
	}

	.table-body {
		padding: 30px;

		ul {
			padding: unset;

			li {
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				height: 69px;
				list-style: none;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0px 20% 0px 5%;
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}